### Importing

In [18]:
import sqlite3

### Connecting to Database

In [19]:
connection = sqlite3.connect ('./genericDatabase.db')
cursor = connection.cursor ()

### Create Table

In [20]:
cursor.execute("DROP TABLE IF EXISTS students") # Delete table if it exists
connection.commit()
cursor.execute('''
 CREATE TABLE IF NOT EXISTS students (
 id INTEGER PRIMARY KEY AUTOINCREMENT,
 name TEXT NOT NULL,
 age INTEGER NOT NULL
 )
''')
connection.commit()

# CRUD Operations

### Create (Insertion)

In [21]:
def create_student(name, age):
 cursor.execute('''
 INSERT INTO students (name, age)
 VALUES (?, ?)
 ''', (name, age))
 connection.commit()
 print("Record added successfully!")
create_student("Griffith", 20)
create_student("Guts", 21)
create_student("Punit", 22)
create_student("Yash", 23)
create_student("Pankaj", 24)

Record added successfully!
Record added successfully!
Record added successfully!
Record added successfully!
Record added successfully!

### Read (Retrieve)

In [22]:
def read_students():
 cursor.execute('SELECT * FROM students')
 rows = cursor.fetchall()
 print("Student Records:")
 for row in rows:
  print(row)
read_students()

Student Records:
(1, 'Griffith', 20)
(2, 'Guts', 21)
(3, 'Punit', 22)
(4, 'Yash', 23)
(5, 'Pankaj', 24)

### Update

In [23]:
def update_student_age(student_id, new_age):
 cursor.execute('''
 UPDATE students
 SET age = ?
 WHERE id = ?
 ''', (new_age, student_id))
 connection.commit()
 print("Student age updated successfully!")
update_student_age(1, 21) # Updating Alice's age to 21
update_student_age(2, 23) # Updating Bob's age to 23
read_students()

Student age updated successfully!
Student age updated successfully!
Student Records:
(1, 'Griffith', 21)
(2, 'Guts', 23)
(3, 'Punit', 22)
(4, 'Yash', 23)
(5, 'Pankaj', 24)

### Delete

In [24]:
def delete_student(student_id):
 cursor.execute('''
 DELETE FROM students
 WHERE id = ?
 ''', (student_id,))
 connection.commit()
 print("Student deleted successfully!")
delete_student(2) # Deleting Bob's record
delete_student(3) # Deleting Charlie's record
read_students()

Student deleted successfully!
Student deleted successfully!
Student Records:
(1, 'Griffith', 21)
(4, 'Yash', 23)
(5, 'Pankaj', 24)

### Closing the database connection

In [25]:
connection.close ()